<p>Welcome, you're named <%= @user.name %> for this session</p>

<div id="chat">loading...</div>

<%= javascript_pack_tag 'chat' %>

<%= link_to 'logout', session_path, method: :delete, class: 'signout' %>

<%= render partial: 'debug' if Rails.env.development? %>
