/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  line-height: 1.5; height: 100vh; margin: 0; padding: 0 1rem;
  display: flex; flex-flow: column nowrap;
}

.debug {
  position: absolute; top: 100%; left: 0; right: 0; padding: .5rem 1rem;
  background: FireBrick; color: Linen;
}

.signout { float: right; }
#chat { flex: 1; display: flex; .chat { flex: 1 } }

@import 'chat'
